.homepage-menu {
  ul {
    padding: 0px;
  }
  li {
    list-style:none !important;
    display: block;
  }
  li {
    padding-left: 10px;
  }
}
.hover {
  &:hover {
    background-color: #f8f8f8;
  } 
}
.display-block {
  display: block;
  width: 100%;
}