.ReactTable.table-hover {
  .rt-tbody {
    .rt-tr {
      &:hover {
        background-color: #e6e6e6;
        cursor: pointer;
      }
    }
  }
}
.ReactTable .rt-th,
.ReactTable .rt-td {
  overflow: unset !important;
}

.ReactTable .rt-td {
  overflow: hidden !important;
}
.ReactTable {
  height: 700px;
}
.ReactTable .rt-tbody {
  overflow-x: hidden;
}

.modal-dialog {
  margin-left: 20%;
  margin-right: 20%;
  display: block; 
  width: 60% !important; 
  padding-left: 0px;
  .modal-content {
      width: 100% !important; 
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70%;
  }
}