.product {
    background: transparent;
    box-shadow: none;
    padding: 10px;
    margin-bottom: 10px;
    height: 100%;
    cursor: pointer;
    transition: all 0.25s linear;
    background: transparent;
    &:hover {
        box-shadow: 1px 1px 15px 5px  rgba(0, 0, 0, 0.04), 1px 1px 15px 6px rgba(0, 0, 0, 0.04);
        background-color: white;
    }
    .product-body {
        background-color: transparent;
        padding: 0px;
        // padding-top:10px;
        text-align: justify;
        text-justify: inter-word;
        display: flex;
        flex-direction: column;
        .product-subtitle {
            flex: 1;
            line-height: 1.5em;
            height: 3em;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            position: relative;
            overflow: hidden;
        }
        .product-price {
            // padding: 10px 0px;
        }
    }
}
.align-center {
    text-align: center;
}
